* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  background: transparent;
}

body {
  padding: 1rem 0.5rem;
  font-size: 1.3rem;
  line-height: 1.2rem;
  max-width: 60rem;
  margin: 0 auto;
  color: #333;
}

img {
  max-width: 100%;
}

@media (min-width: 50rem) {
  body {
    border-left: 4px solid #f9f9f9;
    border-right: 4px solid #f9f9f9;
    padding: 1rem 2rem;
  }
}
